body {
	
	background-color: #222;
}

#graph {
	position: relative;
}
.legend {
	background-color: #90A959;
	overflow: hidden;
}
.divider:nth-child(odd) {
	background-color: rgba(0,0,0,0.2);
}
.divider {
	float: left;
	width: 4.166%;
	text-align: center;
}
.line {
	min-height: 7px;
	background-color: #444;
}
.line:hover {
	background-color: #333;
}
.line:hover .datum {
	opacity: 1;
}
.datum {
	border-radius: 3px;
	position: absolute;
	margin: 1px 0px;
	height: 6px;
	background-color: #fff;
	opacity: 0.8;
	clear: both;
}
.datum.insomnia {
	background-color: #a55;
}
.datum.sleeping_now {
	background-color: #88d;
}
